<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Movie Database</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand">Movie Database</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="films">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="film_add">Film Add</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
<div class="container mt-5">
    <h2>Film details</h2>
    <div class="row">
        <div class="col-md-3">
            <a th:href="@{'/film_watch?filmId=' + ${film.id}}">
                <img alt="Film kép" class="img-fluid" th:src="${film.picturepath}"/>
            </a>
        </div>
        <div class="col-md-9">
            <div class="card border border-info border-3">
                <div class="card-body bg-light">
                    <dl class="row">
                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9" th:text="${film.name}">Nagy Sándor</dd>

                        <dt class="col-sm-3">Description</dt>
                        <dd class="col-sm-9" th:text="${film.description}">nagy.sandor@gmail.com</dd>

                        <dt class="col-sm-3">Categories</dt>
                        <dd class="col-sm-9" th:text="${film.categories}">0</dd>

                        <dt class="col-sm-3">Actors</dt>
                        <dd class="col-sm-9" th:text="${film.actors}">0</dd>

                        <dt class="col-sm-3">Recommended Age</dt>
                        <dd class="col-sm-9" th:text="${film.recommendedAge}">0</dd>
                    </dl>
                    <form action="/film_modify" method="get">
                        <input type="hidden" name="filmId" th:value="${film.id}" />
                        <button type="submit" class="btn btn-primary">Film módosítása</button>
                    </form>
                    <form action="/film_details" method="post">
                        <input type="hidden" name="deleteFilmId" th:value="${film.id}" />
                        <button type="submit" class="btn btn-danger">Film törlése</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>