<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Movie Database</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/bootstrap-icons/font/bootstrap-icons.min.css">
    <script defer src="/js/validateClientModify.js"></script>
</head>
<body>

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">Movie Database</div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="films">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="film_add">Film Add</a>
                </li>
            </ul>
            <form class="d-flex" method="post" th:action="@{/logout}">
                <button class="btn btn-outline-success" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4 col-md-6">
        <h2 class="text-center mb-4">Account modify</h2>
        <p class="text-center">The empty fields will not change.</p>
        <form th:action="@{/client_modify}" method="post" onsubmit="return validateClientModify()"
              th:object="${client}">

            <div class="form-group mt-2">
                <label for="name">New Name:</label>
                <input class="form-control" id="name" th:field="*{name}" type="text">
                <span id="nameError" style="color: red;"></span>
            </div>

            <div class="form-group mt-2">
                <label for="email">New E-mail:</label>
                <input class="form-control" id="email" th:field="*{email}" type="email">
                <span id="emailError" style="color: red;"></span>
            </div>

            <div class="form-group mt-2">
                <label for="password">New Password:</label>
                <div class="input-group">
                    <input class="form-control" id="password" th:field="*{password}" type="password">
                    <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                        <i class="bi bi-eye-slash"></i>
                    </button>
                </div>
                <span id="passwordError" style="color: red;"></span>
            </div>

            <button class="btn btn-primary mt-3" type="submit">Modify</button>
        </form>
    </div>
</div>

<script>
    var passwordInput = document.getElementById('password');
    var togglePasswordButton = document.getElementById('togglePassword');

    togglePasswordButton.addEventListener('click', function() {
        var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        // Gomb ikonjának frissítése az új állapothoz
        togglePasswordButton.innerHTML = type === 'password' ? '<i class="bi bi-eye-slash"></i>' : '<i class="bi bi-eye"></i>';
    });
</script>
</body>
</html>
