<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Error</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigáció beillesztése -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h3>Unexpected error occurred.</h3>
    <p class="alert alert-danger" th:if="${errMessage}" th:text="${errMessage}"></p>
    <p class="alert alert-danger" th:unless="${errMessage}">Hiba!</p>
</div>
</body>
</html>