<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Add New Movie</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <script defer src="/js/validateFilm.js"></script>
    <script defer src="/js/darkMode.js"></script>
    <script defer src="/js/upload.js"></script>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- Navigáció beillesztése -->
<div th:replace="~{fragments/navbar :: navbar}"></div>
<!-- Űrlap a film adatok bekérésére -->
<div class="d-flex justify-content-center align-items-center m-3" style="min-height: 100vh;">
    <div class="card p-4 col-md-6">
        <h2>Add New Movie</h2>
        <form enctype="multipart/form-data" method="post" onsubmit="return validateFilm()" th:action="@{/film_add}"
              th:object="${film}">

            <div class="form-group mt-2">
                <label for="name">Name:</label>
                <input class="form-control" id="name" required="required" th:field="*{name}" type="text">
                <span id="nameError" style="color: red;"></span>
                <div class="text-danger" th:if="${nameFError}" th:text="${nameFError}"></div>
            </div>

            <div class="form-group mt-2">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" rows="3"
                          th:field="*{description}"></textarea>
                <span id="descriptionError" style="color: red;"></span>
            </div>

            <div class="form-group mt-2">
                <label for="categories">Categories:</label><br>
                <select class="form-control" id="categories" multiple name="categories">
                    <option th:each="category : ${categories}" th:text="${category}" th:value="${category}"></option>
                    <span id="categoriesError" style="color: red;"></span>
                </select>
            </div>
            <small class="form-text text-muted">
                <span>Hold the control to select more than 1 categories.</span></small>

            <div class="form-group mt-2">
                <label for="actors">Actors:</label>
                <input class="form-control" id="actors" th:field="*{actors}" type="text">
                <small class="form-text text-muted">Separate multiple actors with commas (e.g., Tom Cruise, Scarlett
                    Johansson).</small>
                <span id="actorsError" style="color: red;"></span>
            </div>

            <div class="form-group mt-2">
                <label for="releaseDate">Release Date:</label>
                <input class="form-control" id="releaseDate" th:field="*{releaseDate}"
                       type="date" value="">
            </div>

            <div class="form-group mt-2">
                <label for="recommendedAge">Recommended Age:</label>
                <input class="form-control" id="recommendedAge" th:field="*{recommendedAge}"
                       type="number">
                <span id="recommendedAgeError" style="color: red;"></span>
            </div>

            <div class="form-group mt-2">
                <label for="file">Select File:</label>
                <input accept=".mp4,.webm,.ogg,.mkv,.avi,.mov,.flv,.wmv,.ts" class="form-control-file" id="file"
                       name="file" required="required" type="file">
                <span id="fileError" style="color: red;"></span>
            </div>
            <small class="form-text text-muted">Allowed extensions:
                <span>.mp4,.webm,.ogg,.mkv,.avi,.mov,.flv,.wmv,.ts</span></small>
            <!-- Progress Bar -->
            <div class="progress mt-2" style="height: 20px; display: none;" id="progressContainer">
                <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated"
                     role="progressbar" style="width: 0%">0%
                </div>
            </div>

            <!-- Sebesség és méret kijelzés -->
            <div class="mt-2" id="progressInfo" style="display: none;">
                <p>Uploaded: <span id="uploadedSize">0 MB</span> / <span id="totalSize">0 MB</span></p>
                <p>Speed: <span id="uploadSpeed">0 MB/s</span></p>
            </div>
            <div class="form-group mt-2">
                <label for="quality">Quality:</label>
                <input type="range" class="form-control w-50" id="quality" name="quality" min="15" max="30" value="21"
                       oninput="document.getElementById('qualityValue').textContent = this.value">
                <div class="d-flex justify-content-between mt-1 w-50">
                    <small>High Quality</small>
                    <small>Balanced</small>
                    <small>Low Quality</small>
                </div>

                <div class="form-group mt-2">
                    <label for="imageFile">Select Image:</label>
                    <input accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff" class="form-control-file" id="imageFile"
                           name="imageFile"
                           type="file">
                    <span id="imageFileError" style="color: red;"></span>
                </div>
                <small class="form-text text-muted">Allowed image formats:
                    <span>.jpg, .jpeg, .png, .gif, .bmp, .tiff</span></small>

                <div>
                    <button class="btn btn-primary my-2" type="button" onclick="uploadFilm()">Submit</button>
                </div>
        </form>
    </div>
</div>
</body>
<script>
    // Jelenlegi dátum lekérése
    let today = new Date().toISOString().split('T')[0];

    // Dátummező értékének beállítása
    document.getElementById('releaseDate').value = today;
</script>
</html>