<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Add New Movie</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigáció beillesztése -->
<div th:replace="~{fragments/navbar :: navbar}"></div>
<!-- Űrlap a film adatok bekérésére -->
<div class="d-flex justify-content-center align-items-center m-3" style="min-height: 100vh;">
    <div class="card p-4 col-md-6">
        <h2>Modify Movie</h2>
        <form enctype="multipart/form-data" method="post" th:action="@{/film_modify}"
              th:object="${film}">

            <!-- Rejtett input mező a filmId átadásához -->
            <input name="id" readonly th:value="*{id}" type="hidden"/>

            <div class="form-group mt-2">
                <label for="name">Name:</label>
                <input class="form-control" id="name" required="required" th:field="*{name}" type="text">
                <span id="nameError" style="color: red;"></span>
                <div class="text-danger" th:if="${nameFError}" th:text="${nameFError}"></div>
            </div>

            <div class="form-group mt-2">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" rows="3"
                          th:field="*{description}"></textarea>
                <span id="descriptionError" style="color: red;"></span>
            </div>

            <div class="form-group mt-2">
                <label for="categories">Categories:</label><br>
                <select class="form-control" id="categories" multiple name="categories">
                    <option th:each="category : ${categories}" th:text="${category}" th:value="${category}"></option>
                    <span id="categoriesError" style="color: red;"></span>
                </select>
            </div>
            <small class="form-text text-muted">
                <span>Hold the control to select more than 1 categories.</span></small>

            <div class="form-group mt-2">
                <label for="actors">Actors:</label>
                <input class="form-control" id="actors" th:field="*{actors}" type="text">
                <small class="form-text text-muted">Separate multiple actors with commas (e.g., Tom Cruise, Scarlett
                    Johansson).</small>
                <span id="actorsError" style="color: red;"></span>
            </div>

            <div class="form-group mt-2">
                <label for="releaseDate">Release Date:</label>
                <input class="form-control" id="releaseDate" th:field="*{releaseDate}"
                       type="date" value="">
            </div>

            <div class="form-group mt-2">
                <label for="recommendedAge">Recommended Age:</label>
                <input class="form-control" id="recommendedAge" th:field="*{recommendedAge}"
                       type="number">
                <span id="recommendedAgeError" style="color: red;"></span>
            </div>

            <div class="form-group mt-2">
                <label for="imageFile">Select Image:</label>
                <input accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff" class="form-control-file" id="imageFile"
                       name="imageFile"
                       type="file">

                <span id="imageFileError" style="color: red;"></span>
            </div>
            <small class="form-text text-muted">Allowed image formats:
                <span>.jpg, .jpeg, .png, .gif, .bmp, .tiff</span></small>

            <div>
                <button class="btn btn-primary my-2" type="submit">Modify</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>