<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Movie Database</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">Movie Database</div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="films">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="film_add">Film Add</a>
                </li>
            </ul>
            <form class="d-flex" method="post" th:action="@{/logout}">
                <button class="btn btn-outline-success" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
<div class="container m-5">
    <h2>Film details</h2>
    <div class="row">
        <div class="col-md-3">
            <a th:href="@{'/film_watch?filmId=' + ${film.id}}">
                <img alt="Film kép" class="img-fluid" th:src="${film.picturePath}"/>
            </a>
        </div>
        <div class="col-md-9">
            <div class="card border border-info border-3">
                <div class="card-body bg-light">
                    <dl class="row">
                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9" th:text="${film.name}">Name</dd>

                        <dt class="col-sm-3">Description</dt>
                        <dd class="col-sm-9" th:text="${film.description}">description</dd>

                        <dt class="col-sm-3">Categories</dt>
                        <dd class="col-sm-9" th:text="${#strings.arrayJoin(film.categories, ', ')}">categories</dd>

                        <dt class="col-sm-3">Actors</dt>
                        <dd class="col-sm-9" th:text="${#strings.arrayJoin(film.actors, ', ')}">actors</dd>

                        <dt class="col-sm-3">Release Date</dt>
                        <dd class="col-sm-9" th:text="${film.releaseDate}">0</dd>

                        <dt class="col-sm-3">Recommended Age</dt>
                        <dd class="col-sm-9" th:text="${film.recommendedAge}">0</dd>
                    </dl>
                    <div>
                        <form action="/film_modify" class="d-inline-block" method="get">
                            <input name="filmId" th:value="${film.id}" type="hidden"/>
                            <button class="btn btn-primary mx-1" type="submit">Film modify</button>
                        </form>
                        <form action="/film_details" class="d-inline-block" method="post">
                            <input name="deleteFilmId" th:value="${film.id}" type="hidden"/>
                            <button class="btn btn-danger mx-1" type="submit">Film delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>