<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Movie Database - Films</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-brand">Movie Database</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="films">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="film_add">Film Add</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>

<div class="container mt-2">
    <h2>Films</h2>
    <div class="row" id="filmTiles">
        <!-- Placeholder for film tiles -->
        <div class="col-sm-4 mb-2" th:each="film : ${films}">
            <a th:href="@{'/film_details?filmId=' + ${film.id}}">
                <div class="card">
                    <img alt="Film kép" th:src="${film.picturepath}"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${film.name}"></h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>