<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${film.name}">Film Player</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigáció beillesztése -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-4">
    <video id="videoPlayer" controls width="100%" preload="metadata">
        <source th:src="@{/film_stream(filmId=${film.id})}" type="video/mp4">
        A böngésződ nem támogatja a videólejátszást.
    </video>
</div>
</body>
</html>
