<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Movie Database - Films</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">Movie Database</div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="films">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="film_add">Film Add</a>
                </li>
            </ul>
            <form class="d-flex" method="post" th:action="@{/logout}">
                <button class="btn btn-outline-success" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-2">
    <h2>Films</h2>
    <div class="row">
        <div class="col-md-2">
            <label class="form-label" for="sortSelect">Sort by:</label>
            <select class="form-select form-select-sm mb-2" id="sortSelect" onchange="sortFilms()">
                <option value="default">Default</option>
                <option value="name">Name</option>
            </select>
        </div>
    </div>
    <div class="row" id="filmTiles">
        <!-- Placeholder for film tiles -->
        <div class="col-sm-3 mb-2" th:each="film : ${films}">
            <a th:href="@{'/film_details?filmId=' + ${film.id}}">
                <div class="card">
                    <img alt="Film kép" th:src="${film.picturePath}"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${film.name}"></h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script>
    var originalFilmsOrder = []; // Eredeti filmek sorrendje

    function saveOriginalOrder() {
        // Elmentjük az eredeti filmek sorrendjét
        var filmsContainer = document.getElementById("filmTiles");
        var films = filmsContainer.getElementsByClassName("col-sm-3");
        for (var i = 0; i < films.length; i++) {
            originalFilmsOrder.push(films[i]);
        }
    }

    function sortFilms() {
        var sortCriteria = document.getElementById("sortSelect").value;
        var filmsContainer = document.getElementById("filmTiles");
        var films = filmsContainer.getElementsByClassName("col-sm-3");
        var filmsArray = Array.from(films);

        if (sortCriteria === 'default') {
            // Alapértelmezett rendezés: az eredeti sorrend felhasználása
            filmsArray.sort(function(a, b) {
                var indexA = originalFilmsOrder.indexOf(a);
                var indexB = originalFilmsOrder.indexOf(b);
                return indexA - indexB;
            });
        } else if (sortCriteria === 'name') {
            // Rendezés a név szerint
            filmsArray.sort(function(a, b) {
                var nameA = a.querySelector(".card-title").textContent.toUpperCase();
                var nameB = b.querySelector(".card-title").textContent.toUpperCase();
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }
                return 0;
            });
        }

        // Töröljük a meglévő filmeket
        while (filmsContainer.firstChild) {
            filmsContainer.removeChild(filmsContainer.firstChild);
        }

        // Hozzáadjuk a rendezett filmeket újra
        for (var i = 0; i < filmsArray.length; i++) {
            filmsContainer.appendChild(filmsArray[i]);
        }
    }

    // Első híváskor elmentjük az eredeti sorrendet
    window.onload = saveOriginalOrder;
</script>

</body>
</html>