<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Movie Database</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigáció beillesztése -->
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="d-flex justify-content-center align-items-start m-3">
    <div class="card border border-info border-3">
        <div class="card-body bg-light">
            <h2>User details</h2>
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9" th:text="${client.name}">Nagy Sándor</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9" th:text="${client.email}">nagy.sandor@gmail.com</dd>

                <dt class="col-sm-3">Number of Films</dt>
                <dd class="col-sm-9" th:text="${numberOfFilms}">0</dd>

                <dt class="col-sm-3">Used Space</dt>
                <dd class="col-sm-9" th:text="${usedSpace} + ' / ' + ${usableSpace}">0</dd>
            </dl>
            <div>
                <form action="/client_modify" class="d-inline-block" method="get">
                    <button class="btn btn-primary mx-1" type="submit">Account modify</button>
                </form>
                <form action="/client_delete" method="post" class="d-inline">
                    <button class="btn btn-danger mx-1" type="submit"
                            onclick="return confirm('Are you sure you want to delete your account?')">
                        Delete Account
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2">
    <h2>Last Watched:</h2>
    <div class="row" id="filmTiles">
        <!-- Placeholder for film tiles -->
        <div class="col-sm-3 mb-2" th:each="film : ${films}">
            <a th:href="@{'/film_details?filmId=' + ${film.id}}">
                <div class="card">
                    <img alt="Film kép" th:src="${film.picturePath}"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${film.name}"></h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>