<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Movie Database</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigáció beillesztése -->
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="d-flex justify-content-center align-items-start m-3">
    <div class="card border border-info border-3">
        <div class="card-body bg-light">
            <h2>User details</h2>
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9" th:text="${client.name}">Nagy Sándor</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9" th:text="${client.email}">nagy.sandor@gmail.com</dd>

                <dt class="col-sm-3">Number of Films</dt>
                <dd class="col-sm-9" th:text="${numberOfFilms}">0</dd>
            </dl>
            <form action="/client_modify" method="get">
                <button class="btn btn-primary" type="submit">Account modify</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>