<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Movie Database</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <script defer src="/js/darkMode.js"></script>
</head>
<body>
<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <h2>Welcome to Movie Database!</h2>
    <div class="d-flex">
        <a class="btn btn-primary mx-2" href="/home">Login</a>
        <a class="btn btn-primary mx-2" href="/register">Register</a>
    </div>
</div>
</body>
</html>